# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

+ Database
+ Languages for Data Science
+ Libraries for Data Science

Some of the popular languages that Data Scientists use are:
`1. Python`,
`2. R`,
`3. Java`,
`4. Scala`,

Some of the commonly used libraries used by Data Scientists include:
`1. dplyr`,
`2. stringr`,
`3. ggplot`,
`4. caret`,

| Data Science Tools | 
|------------------- |
|   MySQL            |   
|   Apache           |
|   Pixie Dust       |
|   ModelDB          |
|   Git              |

### Below are a few examples of evaluating arithmetic expressions in Python

<!-- This a simple arithmetic expression to mutiply then add integers -->

In [20]:
(3*4)+5

17

### This will convert 200 minutes to hours by diving by 60

In [21]:
200/60

3.3333333333333335

## Author

Imran Hussain